html
  head
    title='Docker Rocks'
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 Hello you, thanks for visiting machinelearnit!
        p Simple web app created for the docker article of machinelearnit.com, only for demo!
        p 
